@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'), url(fonts/Gilroy/gilroylight.woff2) format('woff2'), url(fonts/Gilroy/gilroylight.woff) format('woff');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy Extra Bold'), local('Gilroy-ExtraBold'), url(fonts/Gilroy/gilroyextrabold.woff2) format('woff2'), url(fonts/Gilroy/gilroyextrabold.woff) format('woff');
}
body {
	margin:0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
 	font-stretch: normal;
	line-height: 2;
	color: #464646;

  	background-color: #ffffff;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: rgba(0, 0, 0, 0.6);
}
a:active {
	color: rgba(0, 0, 0, 0.3);
}
.main_header__account,
.main_header__cart,
.main_menu,
.toolbar_menu,
.catalog_menu,
.services_tabs,
.brand,
.courier_services,
.main_footer__account,
.main_footer__cart,
.social_networks,
.navigation,
.cost,
.color,
.bluetooth,
.sorting,
.sorting-more-less,
.goods-catalog,
.pagination {
	list-style: none;
}
.form-search__search {
	letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);

}
.form-search__search:hover {
  color: rgba(0, 0, 0, 0.6);
}
.form-search__search:focus {
	text-align: left;
  color: #000000;
}
.main_menu__toggle {
  border: none;
}
.main_menu__toggle,
.toolbar_menu__item {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
 	font-weight: 800;
 	text-transform: uppercase;
 	letter-spacing: 3.6px;
}
.main_menu__toggle:hover {
	color: rgba(0, 0, 0, 0.6);
}
.main_menu__toggle:active {
	color: rgba(0, 0, 0, 0.3);
}
.main_slider__title {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47.5px;
  font-weight: 800;
  color: #000000;
}
.main_slider__link {
  position: relative;
  z-index: 1;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18.5px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  padding: 9px 43px 6px 43px;
}
.main_slider__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 17px;
  width: 220px;
  height: 8px;

  background-color: #f0c52e;
}
.main_slider__link:hover {
	background-color: #f0c52e;
	color: rgb(0, 0, 0);
}
.main_slider__link:active  {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 0.3);
}
.features_product__value {
	font-family: "Gilroy", Arial, sans-serif;
	font-style: normal;
  font-size: 36px;
  font-weight: 300;
}
.features_product__name {
	font-size: 13px;
  font-weight: 300;
}
.catalog_menu {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}
.catalog_menu__link {
	color: rgb(0, 0, 0);
}
.catalog_menu__link:hover {
	color: rgb(0, 0, 0);
}
.catalog_menu__link:active {
	color: rgba(0, 0, 0, 0.3);
}

a.brand__link img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
a.brand__link:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.catalog_menu {
  padding: 0;
}
.services_description__title,
.about_us__title,
.contacts__title {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 47.5px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 0;
}
.services_description__title {
  padding-bottom: 33px;
}
.courier_services {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  margin-top: 65px;
}
.courier_services li {
  position: relative;
}
.courier_services li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-image: url(../img/list-style-circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: -37px;
  top: 16px;
}
.about_us__button,
.contacts_modal,
.modal__send {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 18.5px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  padding: 9px 43px 6px 43px;
}
.about_us .about_us__button {
  position: relative;
}
.contacts .contacts_modal {
  position: relative;
}
.about_us__button,
.contacts_modal {
  z-index: 2;
}
.about_us__button::before,
.contacts_modal::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 15px;
  width: 260px;
  height: 8px;
  
  background-color: #f0c52e;
}
.about_us__button:hover,
.contacts_modal:hover,
.modal__send:hover {
	background-color: #f0c52e;
	color: rgb(0, 0, 0);
}
.about_us__button:active,
.modal__send:active,
.contacts_modal:active {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 0.3);
}
/*всплывающие окна*/
.modal {
  position: fixed;
  /*top: 1057px;
  left: 240px;*/
  width: 960px;
  height: 553px;
 /* background-color: #ffffff;
  padding: 90px 100px;*/
  /*временно*/
  border: 1px solid #000000;
}
/*----------------*/
.catalog_section_caption {
	font-family: "Gilroy", Arial, sans-serif;
 	font-size: 47.5px;
 	font-weight: 800;
 	color: #000000;
 	text-align: left;
 	line-height: 1;
}
.navigation__item {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}
.navigation__item:hover {
	color: rgba(0, 0, 0, 0.6);
}
.navigation__item:active {
	color: rgba(0, 0, 0, 0.1);
}
.filter_caption,
.sorting {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 17.5px;
  font-weight: 800;
  line-height: 1.4;
 	letter-spacing: 3.5px;
  text-align: left;
 	color: #000000;
 	text-transform: uppercase;
}
.cost_caption,
.color_caption,
.bluetooth_caption {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}
.color_item,
.bluetooth_choice {
	font-size: 14px;
 	font-weight: 300;
 	line-height: 2.86;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
}
.filter input {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 18.5px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  text-align: center;
  color: #000000;
}
.sorting__item {
	font-size: 14px;
 	font-weight: normal;
 	line-height: 1.25;
 	text-align: left;
 	color: rgba(0, 0, 0, 0.3);
 	text-transform: none;
}
.sorting__item:hover {
	color: rgba(0, 0, 0, 0.6);
}
.sorting__item:active {
	color: #000000;
}
.goods-catalog__link {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
 	text-align: left;
  color: #000000;
}
.goods-catalog__price {
	font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}
.pagination {
	font-family: Gilroy;
  font-size: 17.5px;
 	font-weight: 800;
 	line-height: 1.4;
  letter-spacing: 3.5px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}
.pagination__item--back:hover,
.pagination__item--forward:hover {
	color: #000000;
}
.pagination__item--back:active,
.pagination__item--forward:active {
	color: rgba(0, 0, 0, 0.3);
}
.pagination__item {
	color: rgba(0, 0, 0, 0.3);
}
.pagination__item:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination__item:active {
	color: #000000;
}

/* Styles 01.09.2018 */
img {
  max-width: 100%;
  height: auto;
}

.visuality_hidden {
  display: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}
.row {
  padding: 0;
  margin-left: -20px;
  margin-right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col_6 {
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 560px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 560px;
  flex: 0 0 560px;
}
.col_2 {
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 160px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
}
.col_4 {
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 360px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 360px;
  flex: 0 0 360px;
}
.col_8 {
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 760px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 760px;
  flex: 0 0 760px;
}
.col_3 {
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 260px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 260px;
  flex: 0 0 260px;
}
.col_10 {
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 960px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 960px;
  flex: 0 0 960px;
}
.main_header {
  position: relative;
  padding: 20px 0;
}
.main_header::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 150px;
  left: 0;
  bottom: 194px;
  background-color: #f7e296;
}
.form-search__search {
  width: 355px;
  height: 48px;
  padding-left: 39px;
  background-color: transparent;
  background-image: url(../img/index/search.svg);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  border: 0 none;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.form-search__search + label {
  position: absolute;
  left: 99px;
  bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  cursor: auto;
}
.form-search__search:hover + label {
  color: rgba(0, 0, 0, 0.6);
}
.form-search__search:focus + label {
  display: none;
}
.form-search__search:focus {
  border-bottom: 2px solid #000000;
}
.form-search__search:focus + label + .form_search__find {
  opacity: 1;
}
.form-search__search-wrapper {
  position: relative;
  width: 355px;
}
.form_search__find {
  padding: 15px 18px;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.form_search__find:hover {
  color: #ffffff;
  background-color: #000000;
}
.form_search__find:active {
  color: rgba(255, 255, 255, 0.3);
}
.form_search {
  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 60px;
}

.account-menu {
  padding: 0;
  margin: 0;
}
.main_header__account {
  margin-top: 10px;
}

/*декоративные элементы (голова,подвал)*/

.main_header__account .account_menu__item_header {
  position: relative;
  padding-left: 21px;
}
.account_menu__item_header::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 5px;
  width: 13px;
  height: 12px;
  padding-top: 5px;

  background-image: url("../img/catalog/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cart-menu {
  padding: 0;
  padding-right: 15px;
  margin: 0;
  text-align: right;
}
.main_header__cart {
  margin-top: 10px;
}
.cart_menu__item {
  margin-left: 40px;
  display: inline-block;
  vertical-align: baseline;
}
.main_header__cart .cart_menu__item--cart {
  position: relative;
  padding-left: 21px;
}
.cart_menu__item--cart::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 5px;
  width: 12px;
  height: 12px;
  padding-top: 5px;

  background-image: url("../img/index/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main_header__cart .cart_menu__item--wishlist {
  position: relative;
  padding-left: 21px;
}
.cart_menu__item--wishlist::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 5px;
  width: 10px;
  height: 10px;
  padding-top: 5px;

  background-image: url('../img/index/compare.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cart_menu__item--cart:hover::before,
.cart_menu__item--wishlist:hover::before,
.account_menu__item_header:hover::before {
  opacity: 0.8;
}
.cart_menu__item--cart:active::before,
.cart_menu__item--wishlist:active::before,
.account_menu__item_header:active::before {
  opacity: 0.3;
}
.main_footer__account {
  margin: 0;
}
.main_footer__account .account_menu__item_footer {
  position: relative;
  padding-left: 21px;
}
.account_menu__item_footer::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 5px;
  width: 13px;
  height: 12px;

  background-image: url("../img/index/user.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #464646;
}
.main_footer__cart a {
  position: relative;
  padding-left: 21px;
}
.cart_menu__item--wishlist_footer::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 5px;
  width: 10px;
  height: 10px;

  background-image: url("../img/index/compare.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #464646;
}
.cart_menu__item--cart_footer::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 5px;
  width: 12px;
  height: 13px;

  background-image: url("../img/index/cart.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #464646;
}
.account_menu__item_footer:hover::before, 
.cart_menu__item--wishlist_footer:hover::before,
.cart_menu__item--cart_footer:hover::before {
  opacity: 0.6;
}
.account_menu__item_footer:active::before, 
.cart_menu__item--wishlist_footer:active::before,
.cart_menu__item--cart_footer:active::before {
  opacity: 0.3;
}
/*----------------*/
.main_menu__toggle {
  position: relative;
  /*временно*/
	background:  #ff0000;
}
.main_menu {
  display: none;
  text-align: left;
  text-transform: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.main_menu__toggle:hover .main_menu {
  display: block;
  position: absolute;
}
.toolbar_menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
  padding: 5px 30px 5px 88px;
}

/*Навигация по каталогу*/
.navigation_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.catalog_menu__item {
  padding: 0;
}
.catalog_menu {
  min-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  
}
.catalog_menu__link {
  display: block;
}
.catalog_menu__icon {
  display: block;
  height: 160px;
  margin-bottom: 35px;
  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog_menu__link--virtual {
  background-image: url("../img/index/popular-1.svg");
}
.catalog_menu__icon--monopod {
  background-image: url("../img/index/popular-2.svg");
  background-position: bottom;
}
.catalog_menu__icon--action {
  background-image: url("../img/index/popular-3.svg");
}
.catalog_menu__icon--fitness {
  background-image: url("../img/index/popular-4-.svg");
}
.catalog_menu__icon--clock {
  background-image: url("../img/index/popular-5.svg");
}
.catalog_menu__icon--quadrocopter {
  background-image: url("../img/index/popular-6.svg");
}
/*---------------*/

/*Главный слайдер*/
.main_slider__item {
  display: none;
}
.main_slider__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*-----------*/

.about_us_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.about-n-contacts {
  padding-top: 120px;
  padding-bottom: 88px;
}
.about_us__title,
.contacts__title {
  position: relative;
  margin-bottom: 43px;
}
.about_us__title::before,
.contacts__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -50px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}
.about_us__text {
  margin-bottom: 30px;
}


/*сервис*/
.services_tabs__item--active {
  display: block;
  width: 100%;
  background-color: black;

}
.services_tabs__item {
  margin-bottom: 20px;
}
.services_tabs__item--active .services_tabs__link {
  color: #f7e184;
}
.services_tabs__item--active .services_tabs__link::before {
  background-color: transparent;
}
.services_tabs {
  width: 278px;
  border-right: 7px solid black;
  padding-top: 83px;
  padding-bottom: 55px;
}
.services_tabs__link {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 160px;
  text-align: center;
  box-sizing: border-box;

  padding: 3px 23px;
}
.services_tabs__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 16px;
  width: 160px;
  height: 8px;
  
  background-color: #f0c52e;
}
  .services_tabs__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18.5px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}
.services_tabs__link:hover {
  background-color: #f0c52e;
  color: #000000;
}
.services_tabs__link:active {
  background-color: #000000;
  color: #f7e184;
}
.services_description {
  display: none;
  padding-top: 95px;
}
.services_description--active {
  display: block;
}
.services {
  position: relative;
  z-index: 1;
}
.services::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 237px;
  background-color: #e5e5e5;
}
/*---------*/


/*footer*/
.main_footer {
  background-color: #464646;
  padding: 59px 0px 51px;
}
.main_footer__logo-wrapper {
  margin-bottom: 18px;
}
.main_footer__account-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
}
.address_toolbar_menu_phone-wrapper {
  margin-bottom: 70px;
}
.main_footer__logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  color: #ffc600;
  text-transform: uppercase;
  padding-left: 36px;
}
.main_footer__logo:hover {
  color: #ffc600;
  opacity: 0.6;
}
.main_footer__logo:active {
  color: #ffc600;
  opacity: 0.3;
}
.account_menu__item_footer,
.cart_menu__item--wishlist_footer,
.cart_menu__item--cart_footer {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  background-color: #464646;
}
.account_menu__item_footer:hover,
.cart_menu__item--wishlist_footer:hover,
.cart_menu__item--cart_footer:hover {
  color: #ffffff;
}
.account_menu__item_footer:active,
.cart_menu__item--wishlist_footer:active,
.cart_menu__item--cart_footer:active {
  color: rgba(255, 255, 255, 0.3);
}
.toolbar_menu__item_footer {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 20px;
}
.toolbar_menu__item_footer:hover {
  color: rgba(255, 255, 255, 0.6);
}
.toolbar_menu__item_footer:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone {
  color: #ffffff;
  text-align: right;
  background-color: #464646;
  padding-left: 84px;
}
.address {
  color: #ffffff;
  text-align: left;
  background-color: #464646;
  margin: 0;
  padding-left: 38px;
}
/*соц. сети*/
.item {
  display: block;
  position: relative;
}
.item::before {
  content: "";
  position: absolute;
  left: 36px;
  top: 0px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.social_networks {
  position: relative;
}
.social_networks__facebook {
  position: absolute;
  top: -36px;
  left: 236px;
  width: 32px;
  height: 32px;
  padding: 5px;

  background-image: url("../img/index/face.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.social_networks__instagram {
  position: absolute;
  top: -36px;
  left: 288px;
  width: 32px;
  height: 32px;
  padding: 5px;

  background-image: url("../img/index/inst.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.social_networks__twitter {
  position: absolute;
  top: -35px;
  left: 339px;
  width: 32px;
  height: 32px;
  padding: 5px;

  background-image: url("../img/index/twit.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.social_networks__facebook:hover,
.social_networks__instagram:hover,
.social_networks__twitter:hover {
  opacity: 1;
}
.social_networks__facebook:active,
.social_networks__instagram:active,
.social_networks__twitter:active {
  opacity: 0.1;
}
.logo_html_academy {
  position: relative;
}
.html_academy {
  position: absolute;
  top: -32px;
  left: 216px;
  width: 27px;
  height: 35px;

  background-image: url("../img/index/logo-html.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #464646;
}
.html_academy:hover {
  opacity: 0.6;
}
.html_academy:active {
  opacity: 0.3;
}

/*------------*/